body {
    background-color: whitesmoke;
}

.container {

    border: 1px solid gray;
    border-radius: 25px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

section,
aside {
    border: 1px solid gray;
}

section {
    margin-bottom: 100px;
}

header {
    width: 100%;
    background-color: lightgray;
}

footer {
    background-color: #838b8b;
    height: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
}

aside {
    background-color: #c1cdcd;
}

nav {
    width: 100%;
    background-color: #ccc;
    align-items: center; 
    display: flex; 
    justify-content: center; 
}

nav ul li {
    display: inline;
}

h1,
h2 {
    text-shadow: 5px 5px 3px green;

    text-align: center;
}


.allContent {
    width: 60%;
    float: right; 
}

.secondMenu {
    width: 30%;
    float: left; 
}



@media screen and (min-width: 900px) {
    .container {
        width: 900px;
    }

    
}

@media screen and (max-width: 480px) {
    .container{

    }

    .allContent {
        width:100%;
        
    }

    .secondMenu {
        width:100%;
    }

    li:hover {
        background: #00b7f5;
    }

    a{
        text-decoration: none;
        color: white;
        display: block;
        padding: 1em;
    }

    ul{
        justify-content: flex-start;
        display:flex;
        flex-direction: column;
        background: darkblue;
        padding-left: 0px;  
        text-align: center;
    }

    nav{
        display: block;
    }
}

